@charset "utf-8";
/* 初始化CSS */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img{margin: 0; padding: 0;}
fieldset, img{border: none;}
img{display: block;}
ul, ol{list-style: none;}
input{padding-top: 0; padding-bottom: 0;}
input::-moz-focus-inner{border: none; padding: 0;}
select, input{vertical-align: middle;}
select, input, textarea{font-size: 12px; margin: 0;}
input[type="text"], input[type="password"], textarea{outline-style: none; -webkit-appearance: none;}
textarea{resize: none;}
table{border-collapse: collapse;}
body,html,table{ font: 12px/1.5 "微软雅黑",tahoma,arial,sans-serif;}
.clearfix:after{content: "."; display: block; height: 0; visibility: hidden; clear: both;}
.clearfix{zoom: 1;}
.clearit{clear: both; height: 0; font-size: 0; overflow: hidden;}
a{color: #000; text-decoration: none;}
a:visited{color: #000;}
:focus{ outline: none;}
a:hover{ color: #ff8400}
a:hover, a:active, a:focus{text-decoration: none;}
.hidden{visibility: hidden;}
body{ background: #FBFBFB}

/*header*/
.box-header {
    right: 0;
    left: 0;
    top: 0;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #D4D4D4;
    background-color: #000;
    color:#fff;
    padding: 5px 0px;
}
.box-header-container{
    width: 980px;
    margin: 0px auto;
    height: 25px;
}
.box-header-left{
    float: left;
    font-size: 12px; line-height: 20px;
    text-align: left;
    width: 500px;
    height: 25px;
    line-height: 25px;
}
.box-header-info{
    float: left;
    font-size: 12px; line-height: 20px;
    text-align: right;
    width: 480px;
    height: 25px;
    line-height: 25px;
}
#span-role-name{ color: #ff6600;}
#logout{ color: #ff6600;}

/*顶部*/
.top-wrap{position: relative;height: 34px; width: 980px; margin: 15px auto; overflow:hidden;box-shadow: 2px 2px 2px 1px #999;}
.top-wrap div.nav{ width: 2000px; height: 34px; background-color: #f1f1f1;}

/*内容区*/
.middle-wrap{position: relative; margin:0px auto;width: 980px; overflow:hidden; box-shadow: 2px 2px 2px 1px #999; background-color: #fff;}
.middle-wrap .lines-wrap{ width:100%; margin:0px auto; height: 30px;}
.middle-wrap .lines-wrap p{ margin: 0px 10px; color:#3A6EA5; font-weight: bold; line-height: 30px; font-size: 14px; text-shadow: 1px 1px 1px #999;}
.middle-wrap .content-wrap{ width:98%; margin:0px auto; height: auto !important; height: 100px; min-height: 100px;  background-color: #fff; margin-bottom: 10px;}

.table-form {font-size: 12px;}
.table-form table{ width: 100%;}
.table-form thead th {
    background: none repeat scroll 0 0 #EEF3F7;
    border-bottom: 1px solid #D5DFE8;
    font-weight: normal;
    height: 30px;
}
.table-form tbody td, .table_form tbody th {  border-bottom: 1px solid #EEEEEE; background-color: #fff;}
.table-form td, .table_form th { height: 35px; text-align: left }

.input-text, .measure-input, textarea, input.date, input.endDate, .input-focus {
    border:#C1C1C1 1px solid;font-size:14px;padding:4px 5px 4px;
    background: url("/public/resource/images/input.png") repeat-x scroll 0 0 #FFFFFF; color:#444
}
.input-tip{ width: 250px;}
input[type=text]:focus,input[type=password]:focus{
    border:1px solid #528CA0;
    background:#FFFFDD;
}

select {
    background: none repeat scroll 0 0 #F9F9F9;
    border-color: #666666 #CCCCCC #CCCCCC #666666;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    padding: 2px;
    vertical-align: middle;
}

.button {
    background: none repeat scroll 0 0 #DDDDDD;
    border-color: -moz-use-text-color #666666 #666666 -moz-use-text-color;
    border-style: none solid solid none;
    border-width: 0 1px 1px 0;
    height: 24px;
    margin-right: 5px;
    padding: 3px 6px;
    cursor: pointer;
}

.search-form {
    margin-bottom: 10px;
}

.explain-col {
    background: none repeat scroll 0 0 #FFFCED;
    border: 1px solid #FFBE7A;
    line-height: 20px;
    padding: 8px 10px;
}

.table-list table{ width: 100%;}
.table-list thead th {
    background: none repeat scroll 0 0 #EEF3F7;
    border-bottom: 1px solid #D5DFE8;
    font-weight: normal;
    height: 30px;
}
.table-list td, .table-list th {
    padding-left: 12px;
}

.table-list tbody td, .table-list .btn {
    background-color: #fff;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 5px;
    padding-top: 5px;
}
.table-list .btn {
    background-color: #f1f1f1
}

.table-list td, .table-list th {
    padding-left: 12px;
}
div.btn {
    background: none repeat scroll 0 0 #F6F6F6;
    height: 30px;
    line-height: 30px;
    padding: 6px 12px 0;
}

.bulk-actions {
    padding: 15px 0 5px 0;
}
.align-left {
    float: left;
}

/*------------------分页-----------------*/
.pagination {
    text-align: right;
    padding: 20px 0 5px 0;
    font-family:  "微软雅黑",Arial;
    font-size: 12px;
}
.pagination a{
    margin: 0 5px 0 0;
    padding: 3px 6px;
    font-size: 12px;
}

.pagination a.number {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 12px;
}
.pagination a.number {
    border: 1px solid #DDD;
    font-size: 12px;
}
.pagination a.current {
    background: #5A85B2;
    border-color: #459300 !important;
    color: #FFF !important;
    font-size: 12px;
}

/*------------------图片-----------------------*/

.attachment-list {
    overflow: hidden;
}
.attachment-list li {
    float: left;
    overflow: hidden;
    padding: 5px 0;
    margin-left: 10px;
}
.attachment-list .img-wrap {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    overflow: hidden;
    position: relative;
    text-align: center;
    height: 94px;
    margin: auto;
    width: 104px;
}

.attachment-list .img-wrap a:hover, .attachment-list .img-wrap a.on {
    background: none repeat scroll 0 0 #F3F6FA;
    border-color: #D0DEF1;
}
.attachment-list .img-wrap a {
    border: 1px solid #EEEEEE;
    display: table-cell;
    height: 91px;
    text-align: center;
    vertical-align: middle;
    width: 101px;
}
.attachment-list .img-wrap a  img{
    margin-left: 10px;
}
.attachment-list .img-wrap a.on .icon {
    background: url("/public/resource/images/msg_bg.png") no-repeat scroll left -249px rgba(0, 0, 0, 0);
    bottom: 4px;
    height: 18px;
    overflow: hidden;
    position: absolute;
    right: 3px;
    width: 16px;
    z-index: 100;
}